html
  head
    title Twiddly | Next
    link(rel="stylesheet", href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css")
    style.
      .v-offset-2 { margin-top: 10px; }
      .v-offset-4 { margin-top: 30px; }
      .v-offset-6 { margin-top: 60px; }
      .v-offset-8 { margin-top: 100px; }
      body { background-color: #333; color: #fff; }
      .panel-body { color: #333;}
      .total-connections { position: absolute; top: 15px;}
    meta(http-equiv="Content-Type", content="text/html; charset=UTF-8")
  body
    #wrapper.col-xs-10.col-xs-offset-1.v-offset-6.text-center
      h1 Synapse
      .connections.col-xs-12.v-offset-6
        - var counter = 0; var hits = 0; var locStyle = 'default';
        each person in connections
          - counter += 1;
          - locStyle = 'default';
          if person.industry
            - var industry = person.industry[0].toLowerCase();
            if industry.indexOf("software") > -1 || industry.indexOf("internet") > -1 || industry.indexOf("tech") > -1 || industry.indexOf("computer") > -1
              - hits += 1;
              if person.location[0].name[0].toLowerCase().indexOf("india") > -1
                - locStyle = 'primary'
              .person.col-xs-4
                div(style="min-height: 140px;", class="panel panel-#{locStyle}")
                  .panel-heading
                    h3.panel-title #{person['first-name']} #{person['last-name']}
                  .panel-body
                    p #{person.headline}
    .total-connections.text-center.col-xs-12
      p: span.label.label-success Found #{hits} out of #{counter} connections
